#book {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#book-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#book iframe {
  flex: 1 1 auto;
}

.dialog--jss-0-0 {
  left: 25% !important;
  top: 5% !important;
}