#book {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#book-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#book iframe {
  flex: 1 1 auto;
  transform: scale(0.9);
  transform-origin: top;
  width: 800px;
}